<footer class="footer">
    <div class="footer-content">
      <img src="Ubi.jpeg" alt="Ubicación" class="ubi">
      <img src="log.png" alt="Ubicación" class="ubi2">
      <div class="social-section">
        <h2>REDES SOCIALES</h2>
        <div class="social-media">
          <a href="https://facebook.com" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://twitter.com" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://instagram.com" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </footer>
  