<div class="dashboard">
  <div class="card-container">
    <div class="card">
      <img src="suple.jpeg" alt="Protein Image" class="card-image">
      <h3>GLUTAMINE</h3>
      <p>$1500</p>
    </div>

    <div class="card">
      <img src="suple2.jpeg" alt="Protein Image" class="card-image">
      <h3>WHEY PROTEIN</h3>
      <p>$1300</p>
    </div>
    
    <div class="card">
      <img src="suple3.jpeg" alt="Protein Image" class="card-image">
      <h3>VEGAN PROTEIN</h3>
      <p>$850</p>
    </div>

    <div class="card">
      <img src="suple4.jpeg" alt="Protein Image" class="card-image">
      <h3>ISOPURE</h3>
      <p>$1200</p>
    </div>

    <div class="card">
      <img src="prote.jpeg" alt="Protein Image" class="card-image">
      <h3>WHEY</h3>
      <p>$1600</p>
    </div>

    <div class="card">
      <img src="creatina.jpeg" alt="Protein Image" class="card-image">
      <h3>CREATINA</h3>
      <p>$980</p>
    </div>
  </div>
</div>
